main{
	color: #d9b08c ;
	display: flex;
	justify-content: space-between;
	font-size: 200%;
	margin-bottom: 0.5%;
	min-width:90%;
}
main div{
	margin: 0.5%;
	padding: 0.5%;
	border: 2px solid #FFCB9A;
	padding-bottom: 16.4%;
}
main a {
	color: #cb2d6f;
}