.main-header {
		margin-top: 0px;
		color: #d9b08c ;
		background-color: #2c3531;
		     }
		
.toolbar-logo {
		float: left;
		display: inline-flex;
		margin-left: 5px;
		justify-content: flex-start;
		      }
		
.logo {
	    margin-right: 5px;
		font-size: 300%;
	  }
		
.logo-text {
			line-height: 5px;
			padding-top: 15px;
			}
			
.toolbar-nav > ul {
			display: flex;
			justify-content: flex-end;
			padding: 0;
			margin: 0;
			 }
			 
.nav-item {
		padding-top: 7px;
		font-size: 155%;
		margin: 5px;
		display: inline-flex;
		position: relative;
          }
		  
#bar {
		margin-top: 0px;
		padding-top: 0px;
		font-size: 250%;
	 }
	 
#bell, #profile {
		padding-top: 0px;
	             }
	   
#bell img {
		position: relative;
		width: 50px;
		height: auto;
		margin: 0;
		padding: 0;
		  }
		  
#profile img { 
		position: relative;
		width: 45px;
		height: auto;
		margin: 0;
		padding: 0;
		     }
		  
#menu-icon img {
	    padding: 0;
		margin: 0;
		visibility: hidden; 
        width: 45px;
		height: auto;
		position: absolute;
		right:0px;
		top:-1px;		
				}
				
body {
	background-color: #116466;
	}
