@media (min-width: 558px) {
	.main-header {
		font-size: 75%;	
	}
.header-logo-text {
    padding-top: 9px;
}
	#header-bell img { 
		width: 35px;
		height: auto;
		  }
	
	#header-profile img { 
		width: 30px;
		height: auto;
		  }
}

@media (min-width: 356px) and (max-width: 597px) {

.header-logo-text {
		padding-top: 17px;

}
main{
	font-size: 100%
}
	.header-logo {
		margin-bottom: 0;
	}
	
	.header-nav {
		visibility: hidden;	
	}
	
	#header-bell img, #header-profile img {
	
		width: 0px;
		height: auto;
		  }
		  
	#header-menu-icon img {
		padding-top:10px;	
		visibility: visible;

	}
}

@media (max-width: 356px) {
.header-logo-text {
    padding-top: 5px;
}
	.header-logo-text{
			visibility: hidden;
			}
		
	.header-nav-item {
	   font-size: 0%;
			}
	
	.header-logo {
		margin-bottom: 0;
		}
	
	.header-nav {
		visibility: hidden;
				}
		  
	#header-menu-icon img {
			padding-top:10px;
		visibility: visible;
					}
}