footer {
  float: bottom;
}

main {
    width: 79%;
    display: flex;
    border-style: dashed;
  	border-width: thick;
	color: #2c3531;
}
#openalerts{
	width: 19%;
	border-style: solid;
	border-width: 5%;
	color: #d9b08c;
	border-color: #2c3531;
}

#wrapper {
	display:flex;
}

.mainpicture{
	max-height: 200px;
}

#mainpicture{
  width: 19%;
}

#pictures{
  width: 39%;
  border-style: solid;
  border-width: 5%;
  border-color: #d1e8e2;
}

.lesspicture{
  max-height: 50px;
}

#textdata{
  width: 39%;
  border-style: solid;
  border-width: 5%;
  color: #d9b08c;
  border-color: #2c3531;
  float: right;
}
