footer {
  float: bottom;
}

main {
    width: 79%;
    display: flex;
  color: #d9b08c;
  padding-bottom: 112px;
  
}
#openalerts{
  width: 30%;
  height: 30%;
	border-style: solid;
	
  border-color: #d9b08c;
  padding: 0.313em;
  margin: 0.313em;
}

#wrapper {
	display:flex;
}

.mainpicture{
  max-height: 12.500em;

}

#mainpicture{
  width: 19%;
  margin: 0.313em;
}

#pictures{
  width: 39%;
  border-style: solid;
  border-width: 5%;
  border-color: #d1e8e2;
  margin: 0.313em;
}

.lesspicture{
  max-height: 50px;
}

.lesspicture:first-child {
  margin-left: 0.313em;
}
.lesspicture:nth-child(6) {
  margin-left: 0.313em;
}

#textdata{
  background-color: #FFCB9A;
  width: 39%;
  border-style: solid;
  border-width: 5%;
  color: #2C3531;
  border-color: #d9b08c;
  float: right;
  margin: 0.313em;
}


#alert-description {
  order: 1;
  background-color: #FFCB9A;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  justify-content: space-around;
  padding: 0.625em;
  margin-top: 0.625em;
  margin-left: 0.625em;
  margin-right: 0.625em;
  margin-bottom: 0.625em;


}

#find-shelter-line {
  display: flex;
  flex-direction: row;
}
#find-shelter-line a {
  color: #cb2d6f;
}

#location-img {
  width: 3.125em;
  height: 3.125em; 
  margin: 0.313em;
}

input {
  margin: 0.125em;
}