#wrapper {
	display:flex;
}

#openalerts{
	min-width: 19%;
	border-style: solid;
	border-width: thick;
	color: #2c3531;
}
#openalerts p {
	color: #d9b08c ;
}
main{
	min-width: 59%;
	border-style: solid;
	border-width: thick;
	color: #2c3531;
}
#searchperson h1 {
	margin-top: 5%;
	margin-left: 2%;
	margin-bottom: 1%;
	color: #d9b08c;
}
#searchperson form {
	color: #d9b08c;
}
#rightside{
	min-width: 19%;
	border-style: solid;
	border-width: thick;
	color: #2c3531;
}

.fit-picture{
	max-height: 100px;
}

.imgperson{
	float: left;
}

.missingperson{
	border-style: solid;
	border-width: 3%;
	color: #d1e8e2;
	margin-top:20px;
}
.infoperson{
	color: #d9b08c ;
} 
.buttonfound{
	float: right;
	min-width: 100%;
}
 #newmissingperson{
	 min-height: 10%;
 }
