#mainn {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.link {
    margin: 20px;
}

iframe {
    border: 1px solid #FFCB9A;
    margin: 5%;
    width: 50%;
    height: 50%;
}