#mainn {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

iframe {
    border: 1px solid #FFCB9A;
    margin: 5%;

}

#map{
    display: flex;
    flex-direction: column;
}

#alert-description {
    background-color: #FFCB9A;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    justify-content: flex-end;
    max-width: 40%;
    padding: 5px;
}

#location-img {
    width: 45px;
    height: auto; 
    margin: 5px;
}

#find-shelter-line {
    display: flex;
    flex-direction: row;
}

pre {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}