footer {
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
  }
  
  main {
    width: 79%;
    display: flex;
    border-style: dashed;
    border-width: thick;
  }
  
img {
    width: 20%;
    height: auto;
}